@charset UTF-8;
/* ================================================ */
/*               全体設定                */
/* ================================================ */

body {
  font-family:"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", sans-serif, Verdana, "メイリオ", "Meiryo", "ＭＳ Ｐゴシック", "MS PGothic", Sans-Serif;
  background-color: #F5F3ED;
}


body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, object, iframe, pre, code, p, blockquote, form, fieldset, legend, table, th, td, caption, tbody, tfoot, thead, article, aside, figure, footer, header, hgroup, menu, nav, section, audio, video, canvas {
	margin: 0;
	padding: 0;
}


li {
  list-style: none;
}

h2 {
	padding-bottom: 15px;
  color: #353535;
  font-family: 'Bellefair', serif;
  font-size: 60px;
}

p {
  color: #353535;
  font-family: "Sawarabi Gothic";
}


/* ここから下がボタンのCSS　*/
.btn-shine {
  color: #9C7C53;
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  line-height: 45px;
  width: 200px;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  border: 1px solid transparent;
  outline: 1px solid;
  outline-color: #9C7C53);
  outline-offset: 0px;
  text-shadow: none;
  transition: all 1.2s cubic-bezier(0.2, 1, 0.2, 1);
}

.btn-shine:hover {
  border-color: #9C7C53;
  box-shadow: inset 0 0 20px #9C7C53, 0 0 20px #9C7C53;
  outline-color: transparent;
  outline-offset: 12px;
  text-shadow: 2px 2px 3px #9C7C53;
}

/* ここから下がボタンのCSS　*/
.btn-shine:hover {
	text-shadow: 2px 2px 3px #9C7C53;
	/* text-shadowを背景色に変更する*/
}

/* ================================================ */
/*ヘッダー：など場所をこまめに書く！*/
/* ================================================ */
.inner {
  max-width: 1024px;
  margin: 0 auto;
}
.inner:after {
  content: "";
  clear: both;
  display: block;
}

/* header */
#top-head {
  top: -100px;
  position: absolute;
  width: 100%;
  margin: 100px auto 0;
  padding: 30px 0 0;
  line-height: 1;
  z-index: 999;
}
#top-head a,
#top-head {
  color: #9C7C53;
  text-decoration: none;
}
#top-head .inner {
  position: relative;
}
#top-head .logo img {
  float: left;
  width: 80px;
}
#global-nav ul {
  list-style: none;
  position: absolute;
  right: 0;
  bottom: 0;
  font-size: 14px;
}
#global-nav ul li {
  float: left;
  text-align: center;
}
#global-nav ul li a {
  padding: 0 30px;
}

/* Fixed */
#top-head.fixed {
  margin-top: 0;
  top: 0;
  position: fixed;
  padding-top: 10px;
  height: 65px;
  background: #e9e7e0;
  transition: top 0.65s ease-in;
  -webkit-transition: top 0.65s ease-in;
  -moz-transition: top 0.65s ease-in;
}
#top-head.fixed .logo img {
  width: 46px;
}
#top-head.fixed #global-nav ul li a {
  color: #9C7C53;
  padding: 0 20px;
}

/* Toggle Button */
#nav-toggle {
  display: none;
  position: absolute;
  right: 12px;
  top: 14px;
  width: 34px;
  height: 36px;
  cursor: pointer;
  z-index: 101;
}
#nav-toggle div {
  position: relative;
}
#nav-toggle span {
  display: block;
  position: absolute;
  height: 4px;
  width: 100%;
  background: #666;
  left: 0;
  -webkit-transition: .35s ease-in-out;
  -moz-transition: .35s ease-in-out;
  transition: .35s ease-in-out;
}
#nav-toggle span:nth-child(1) {
  top: 0;
}
#nav-toggle span:nth-child(2) {
  top: 11px;
}
#nav-toggle span:nth-child(3) {
  top: 22px;
}

header .btn-shine {
  color: #9C7C53;
  display: inline-block;
  font-size: 15px;
  font-weight: bold;
  line-height: 50px;
  width: 100px;
  margin: 0 10px;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  border: 1px solid transparent;
  outline: 1px solid;
  outline-color: #9C7C53);
  outline-offset: 0px;
  text-shadow: none;
  transition: all 1.2s cubic-bezier(0.2, 1, 0.2, 1);
}

/* ================================================ */
/*メインコンテンツ*/
/* ================================================ */

main {
  margin: 0 auto;
  max-width: 1300px;
}

.picture {
  margin: 0 auto;
  width: 80%;
  margin-top: 150px;
  border: 1px solid #353535;
}

.logo-title {
  text-align: center;
  position: relative;
}

.logo-title:before {
  content: '';
  position: absolute;
  left: 50%;
  bottom: -25px; /*下線の上下位置調整*/
  display: inline-block;
  width: 130px; /*下線の幅*/
  height: 2px; /*下線の太さ*/
  -moz-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translate(-50%); /*位置調整*/
  background-color: #666666; /*下線の色*/
}

.logo-title p {
  font-size: 20px;
  padding: 80px 0 10px 0;
}

.explanation {
  padding: 0 80px;
  display: flex;
  margin-top: 70px;
  margin-bottom: 92px;
}

.explanation-section img {
  max-height: 300px;
  max-width: 300px;
  border: 1px solid #353535;
  margin: 24px 100px 24px 0;
}

.explanation-coment {
  margin-right: auto;
  padding: 60px;
  text-align: center;
  border: 1px solid #353535;
  box-shadow: 16px 16px 0px 0px rgba(233,231,224,0.7);
}

.explanation-coment h2 {
  padding-bottom: 30px;
}

.explanation-coment p {
  line-height: 40px;
}

.about {
  padding: 0 80px;
  display: flex;
}

.about img {
  height: 300px;
  width: 300px;
  border: 1px solid #353535;
}

.about-section {
  position: relative;
  width: 300px;
  float: left;
}

.absolute {
  position: absolute;
  left: 223px;
  bottom: -126px;
}

.about-coment {
  margin-left: auto;
  margin-top: auto;
  padding: 60px;
  text-align: center;
  border: 1px solid #353535;
  line-height: 32px;
  box-shadow: 16px 16px 0px 0px rgba(233,231,224,0.7);
}

.about-coment h2 {
  padding-bottom: 30px; 
}

.about-coment p {
  line-height: 40px;
}

.qa {
  padding: 0 80px;
  margin-top: 200px;
  margin-bottom: 92px;
}

.qa-section img {
  height: 300px;
  width: 300px;
  border: 1px solid #353535;
  margin: 24px 100px 24px 0;
}

.qa-coment {
  margin-right: auto;
  padding: 30px;
  text-align: center;
  border: 1px solid #353535;
  box-shadow: 16px 16px 0px 0px rgba(233,231,224,0.7);
}

.qa-coment h2 {
  padding-bottom: 15px;
}

.qa-coment p {
  line-height: 25px;
}

/*ボックス全体*/
.accbox {
  margin: auto;
  max-width: 650px;/*最大幅*/
}


/*ラベル*/
.accbox label {
  display: block;
  margin: 6.5px 0;
  padding: 11px 12px;
  color: #9C7C53;
  font-weight: bold;
  /* background: #a4cbf3; */
  border: 1px solid #9C7C53;
  cursor: pointer;
  transition: all 0.5s;
}

/*ラベルホバー時*/
.accbox label:hover {
  border-color: #9C7C53;
  box-shadow: inset 0 0 20px #9C7C53, 0 0 20px #9C7C53;
  outline-color: transparent;
  outline-offset: 12px;
  text-shadow: 2px 2px 3px #9C7C53;
}

/*チェックは隠す*/
.accbox input {
  display: none;
}

/*中身を非表示にしておく*/
.accbox .accshow {
  height: 0;
  padding: 0;
  overflow: hidden;
  opacity: 0;
  transition: 0.8s;
}

/*クリックで中身表示*/
.cssacc:checked + .accshow {
  height: auto;
  padding: 15px;
  background: #eaeaea;
  opacity: 1;
}

.accshow h4 p {
  color: #353535;
  font-family: "Sawarabi Gothic";
}

.accshow h4 {
  font-size: 14px;
}

.accshow p {
  font-size: 12px;
}

.collection {
  padding: 0 80px;
  margin-top: 100px;
  text-align: center;
}

.collection-list {
  display: flex;
  margin-bottom: 30px;
}

section figure {
  width: 100%;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}

.sample3 {
  color: #353535;
  margin: 0 auto;
}

.sample3 img {
  max-height: 200px;
  max-width: 200px;
  border: 1px solid #353535;
}

.sample3 p{
  margin: 10px 0;
  font-size: 12px;
}
.sample3 figure:after {
  position: absolute;
  border: solid 1px #353535;
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  opacity: 0;
  transform: scale(1.0, 1.0);
  transition: all .3s ease-out;
}
.sample3 figure:hover:after {
  opacity: 1;
  transform: scale(0.92, 0.88);
}
.sample3 figcaption {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 0;
  margin-top: -1em;
  font-size: 20px;
  letter-spacing: 5px;
  opacity: 0;
  transition: all .3s ease-out .2s;
}
.sample3 figure:hover figcaption {
  letter-spacing: 1px;
  opacity: 1;
}
.sample3 figure img {
  transition: all .8s ease-out;
}
.sample3 figure:hover img {
  opacity: .4;
  transform: scale(1.3);
}

.sample3 h3 {
  margin: 10px 0;
  padding-bottom: 5px;
  font-size: 20px;
  color: #353535;
  font-family: 'Bellefair', serif;
}

.shoplink {
  margin: 40px auto;
}

.slider {
  margin: 0 auto;
  width: 700px;
  border: 1px solid #353535;
}

.news {
  padding: 20px 80px;
  margin-top: 10px;
}

.news h2 {
  text-align: center;
  padding-bottom: 0;
}

.news li {
  border-bottom: 1px solid #353535;
  font-size: 14px;
  text-align: left;
}
.news li a {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  color: #353535;
  display: table;
  padding: 20px;
  text-decoration: none;
  transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  -moz-transition: 0.2s ease-in-out;
  -webkit-transition: 0.2s ease-in-out;
  width: 100%;
}
.news li a:hover {
  text-decoration: none;
  background: #EEEEEE;
}
.news li div {
  padding-bottom: 10px;
  width: 144px;
}
.news li p {
  vertical-align: middle;
  margin: 15px 0;
}

/* 時間の設定 */
.news li time {
  display: table-cell;
  vertical-align: top;
  width: 90px;
}
/* カテゴリの設定 */
.news li .cat01, .news li .cat02 {
  background-color: #353535;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  display: table-cell;
  color: #FFFFFF;
  font-size: 10px;
  padding: 0 2px;
  text-align: center;
  width: 50px;
}
.news li .cat02 {
  background-color: #FFFFFF;
  border: 1px solid #353535;
  box-sizing: border-box;
  color: #353535;
}


.news img {
  height: 50px;
  width: 50px;
  float: left;
  padding-right: 15px;
}

.contact-form {
  margin-top: 10px;
  text-align: center;
}

.contact-form h2 {
	font-size: 60px;
}

input, textarea {
  display: inline-block;
  width: 600px;
  margin-top: 10px;
  margin-bottom: 15px;
  padding: 10px;
  font-size: 18px;
  border: 1px solid #dee7ec;
}

textarea{
  height: 200px;
}

.contact-submit{
  border-radius: 25px;
  width: 150px;
  background:#9C7C53;
  color:#fff;
  border:none;
  position:relative;
  height:40px;
  font-size:20px;
  padding:0 2em;
  cursor:pointer;
  transition:800ms ease all;
  outline:none;
}
.contact-submit:hover{
  background:#fff;
  color:#9C7C53;
}
.contact-submit:before,.contact-submit:after{
  content:'';
  position:absolute;
  top:0;
  right:0;
  height:2px;
  width:0;
  background: #9C7C53;
  transition:400ms ease all;
}
.contact-submit:after{
  right:inherit;
  top:inherit;
  left:0;
  bottom:0;
}
.contact-submit:hover:before,.contact-submit:hover:after{
  width:100%;
  transition:800ms ease all;
}

/* ================================================ */
/*フッター*/
/* ================================================ */
footer {
  background-color: #e9e7e0;
  height: 120px;
	padding: 40px;
}

.footer-logo {
  float: left;
	font-size: 32px;
  color: #9C7C53;
  font-family: 'Bellefair', serif;
}

.footer-list {
  float: right;
}

.footer-list li {
  padding-bottom: 20px;
}

.footer-list a {
  color: #9C7C53;
  text-decoration: none;
  padding: 0 .3em;
  transition: all .3s;
}
.footer-list a:hover {
  color: #9C7C53;
  border-color: #9C7C53;
  outline-color: transparent;
  outline-offset: 12px;
  text-shadow: 2px 2px 3px #9C7C53;
}

small {
  display: block;
  text-align: center;
  margin: 0 auto;
  background-color: #e9e7e0;
  color: #9C7C53;
  font-size: 10px;
}


/*===============================================
●tablet.css 画面の横幅が1024pxまで
===============================================*/
@media screen and (max-width: 1024px){

  * {
    float: none;
    position: static;
  }
   
  img {
    max-width: 100%;
    height: auto;
  }

  /* ヘッダーハンバーガーメニュー */
  #top-head,
  .inner {
      width: 100%;
      padding: 0;
  }
  #top-head {
      top: 0;
      position: fixed;
      margin-top: 0;
  }
  /* Fixed reset */
  #top-head.fixed {
      padding-top: 0;
      background: transparent;
      background: #fff
  }
  #mobile-head {
      /* background: #fff; */
      width: 100%;
      height: 65px;
      z-index: 999;
      position: relative;
  }
  #top-head.fixed .logo,
  #top-head .logo {
      position: absolute;
      left: 13px;
      top: 13px;
      color: #353535;
      font-size: 26px;
  }
  #global-nav {
      position: absolute;
      /* 開いてないときは画面外に配置 */
      top: -500px;
      background: #353535;
      width: 100%;
      text-align: center;
      padding: 10px 0;
      -webkit-transition: .5s ease-in-out;
      -moz-transition: .5s ease-in-out;
      transition: .5s ease-in-out;
  }
  #global-nav ul {
      list-style: none;
      position: static;
      right: 0;
      bottom: 0;
      font-size: 14px;
  }
  #global-nav ul li {
      float: none;
      position: static;
  }
  #top-head #global-nav ul li a,
  #top-head.fixed #global-nav ul li a {
      width: 100%;
      display: block;
      color: #fff;
      padding: 18px 0;
  }
  #nav-toggle {
      display: block;
  }
  /* #nav-toggle 切り替えアニメーション */
  .open #nav-toggle span:nth-child(1) {
      top: 11px;
      -webkit-transform: rotate(315deg);
      -moz-transform: rotate(315deg);
      transform: rotate(315deg);
  }
  .open #nav-toggle span:nth-child(2) {
      width: 0;
      left: 50%;
  }
  .open #nav-toggle span:nth-child(3) {
      top: 11px;
      -webkit-transform: rotate(-315deg);
      -moz-transform: rotate(-315deg);
      transform: rotate(-315deg);
  }
  /* #global-nav スライドアニメーション */
  .open #global-nav {
      /* #global-nav top + #mobile-head height */
      -moz-transform: translateY(556px);
      -webkit-transform: translateY(556px);
      transform: translateY(556px);
  }

  .explanation, .about, .qa{
    display: block;
  }
  .explanation-section img {
    margin: 0;
  }

  .explanation-coment, .about-coment, .qa{
    font-size: small;
  }

  .explanation-section, .about-section, .qa-section img{
    display: none;
  }

  .explanation-coment, .about-coment {
    background: url(images/ring2.jpg);
    background-color:rgba(255,255,255,0.5);
    background-blend-mode:lighten;
    background-size: cover;
    background-position: center;
    text-shadow: 1px 1px 2px gray;
  }

  .qa {
    margin-top: 105px;
}

  .collection {
    padding: 0 ;
    margin-top: 0;
    text-align: center;
  }

  .sample3 img {
    max-width: 138px;
    min-width: 0;
    border: 0.5px solid #353535;
  }


}

/*===============================================
●smart.css  画面の横幅が640pxまで
===============================================*/
@media screen and (max-width:640px){

  p {
    font-size: 12px;
  }

  .logo-title p {
    font-size: 13px;
    padding: 50px 0 10px 0;
  }

  img {
  max-width: 74%;
  height: auto;
  }
  
  .explanation, .about, .qa {
    padding: 0;
  }

  .explanation-coment, .about-coment, .qa-coment {
    box-shadow: none;
  }

  .collection-list {
    display: inline-block;
    margin-bottom: 10px;
  }

  .sample3 img {
    max-width: none;
    min-width: 0;
    border: 0.5px solid #353535;
  }

  .shoplink {
    margin: 0;
  }

  .slider {
    width: 100%;
    border: none;
    margin: 10px 0;
  }

  .news {
    padding: 0;
    margin-top: 60px;
  }

  .contact-form {
    font-size: small;
  }

  input, textarea {
    display: inline-block;
    width: 90%;
  }

  footer {
    background-color: #e9e7e0;
    height: 120px;
    padding: 10px;
    font-size: small;
  }

  .footer-list li {
    padding-bottom: 15px;
  }
  
}